*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    text-decoration: none;
    list-style: none;
}
header{
    background-color: red;
}
#tituloindex{
    position: relative;
    font-size: 2em;
    bottom: 80px;
    text-align: center;
}
#logo{
    margin-left: 20px;
    margin-top: 20px;
}
#formulario{
    background-color: aqua;
    float: left;
    position: relative;
    bottom: 60px;
    margin-left: 20px;
}
.form1{
    padding: 5px;
}